# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Local files
expenses.json
